/*
========================================================================================
    nf-rnaseq-pipeline Nextflow config file
========================================================================================
    Default config options for standard and batch profiles
----------------------------------------------------------------------------------------
*/


manifest {
  name = "BJ-Expression"
  description = "Pipeline process RNASeq data and assess transcript-level and gene-level quantification."
  author = "BioSkryb Genomics"
  mainScript = "main.nf"
  version = '1.8.6'
  
}


/*
* Default pipeline parameters. They can be overriden on the command line eg.
* given `params.foo` specify on the run command line `--foo some_value`.
*/

params{
  // GENERAL
  help = false
  organization = ""
  workspace = ""
  project = ""
  timestamp = new java.util.Date().format( 'yyMMdd_HHmmss').toString()
  architecture = "x86" // "arm" and "x86" options
  
  // READ INPUTS
  // test_file = "$baseDir/test/data/inputs/test.txt"
  reads = ""
  input_csv = ""
  min_reads = 5000
  
  //GENOME
  genomes_base = "s3://bioskryb-public-data/pipeline_resources"
  genome = 'GRCh38' // 'Test', 'GRCh38', 'GRCh37' ,'GRCm39'
  mode = "rnaseq"
  
  // SEQTK
  read_length = 75
  n_reads = 100000
  seqtk_sample_seed = 123

  // FASTP
  instrument = ""
  two_color_chemistry = ( params.instrument in [ "NextSeq", "NovaSeq" ] ? true : false )
  qc_only_mode  = false
  adapter_sequence = "AAGCAGTGGTATCAACGCAGAGTACA"
  adapter_sequence_r2 = "AAGCAGTGGTATCAACGCAGAGTACAT"

  //Cell typing 
  celltype_ref = "${params.genomes_base}/dev-resources/rnaseq_celltype_qbio/db_celltype_qbio.RDS"
  
  //MultiQC
  multiqc_config = "$baseDir/assets/multiqc"
  
  // OUTPUT DIR - defaults are profile specific
  publish_dir = ""
  enable_publish = true
  disable_publish = false
  
  //SKIP MODULES
  // If these flags are specified during runtime it will skip those process
  skip_subsampling = false
  skip_fastq_merge = true


  //10x options
  skip_10X = true
  lib_protocol_10x = "chromium"
  lib_type_10x = "ISR"
  
  // NOTIFICATIONS
  email_on_fail = ""
  tmp_dir = "/tmp/${params.timestamp}"


}
// Load environment config
includeConfig './nf-bioskryb-utils/conf/environment.config'
// Load genomes config
includeConfig './nf-bioskryb-utils/conf/genomes.config'
includeConfig './nf-bioskryb-utils/conf/modules.config'
